<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="uz.dori24.dori24.repository.UserRepository">

    <update id="setCareGiverChatId">
        update users u
        set telegram_chat_id = #{chatId}
        where u.id = #{userId}
    </update>

    <select id="getCareGiverChatId" resultType="java.lang.String">
        SELECT
            telegram_chat_id
        from users
        where id = #{patientId}
    </select>
</mapper>